*{
  transition: ease-in-out 0.3s;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
}

.active{
  background-color:#263238 !important;
  border-radius: 8px !important;
  color: white !important;
  /* border-right: 4px solid rgb(123, 123, 207); */
}

.active:hover{
  background-color: #263238 !important;
}

.home {
  background-image: url(./assets/Images/joey-banks-YApiWyp0lqo-unsplash.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  
}


@media(max-width:768px) {
  .home {
    background-image: url(./assets/Images/wallpaper.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
}
